# System Files
.DS_Store

# Dependencies
node_modules

# Log
yarn-debug.log
yarn-error.log

# lefthook
lefthook-local.yaml

# Claude Code
**/.claude/settings.local.json
**/CLAUDE.local.md
**/.claude/worktrees/
**/.claude/debug/
